astroid==2.3.3
autopep8==1.5
Click==7.0
Flask==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
MouseInfo==0.1.2
Pillow==7.0.0
PyAutoGUI==0.9.48
pycodestyle==2.5.0
PyGetWindow==0.0.8
pylint==2.4.4
PyMsgBox==1.0.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
python3-xlib==0.15
PyTweening==1.0.3
six==1.14.0
sockets==1.0.0
Werkzeug==1.0.0
wrapt==1.11.2
